<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NUSolarTelemetry.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NUSolarTelemetry.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <NUSolarTelemetry.My.MySettings>
            <setting name="ServerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="BPCTripVoltage" serializeAs="String">
                <value>3.1</value>
            </setting>
            <setting name="BPCTripVoltageWarning" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="MaximumSeriesPoints" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ODBCConnectionString" serializeAs="String">
                <value>DSN=NUSolar</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
        </NUSolarTelemetry.My.MySettings>
    </applicationSettings>
    <userSettings>
        <NUSolarTelemetry.My.MySettings>
            <setting name="DisplayMode" serializeAs="String">
                <value>Real time</value>
            </setting>
            <setting name="DataInterval" serializeAs="String">
                <value>1 Second</value>
            </setting>
        </NUSolarTelemetry.My.MySettings>
    </userSettings>
</configuration>
