body {
	font-size: 32px;
	background-color: black;
}

/*Central Layout:*/
.MainTable {
	display: table;
	width: 100%;
	/*border-collapse: collapse;*/
	border-spacing: 1px;
}

.HeaderRow, .CentralRow, .FooterRow {
	display: table-row;
	width: 100%;
}

.LeftPanel, .CenterPanel, .RightPanel {
	display: table-cell;
}
.CenterPanel {
	width: 70%;
	background-color: #FFFFCC;
}
.LeftPanel, .RightPanel {
	width: 15%;
}

.LeftPanel {
	/*This hack is for LeftPanel/CenterPanel border:*/
	padding-right: 1px;
}

.Title {
	background-color: #CC6666;
}

/*Component Layout:*/
.CenterPanel > section {
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.BatteryBoxTable {
	margin-left: auto;
	margin-right: auto;
}

.Button {
	background-color: #FF9900;
	font-family: "Swiss911 UCm BT", sans-serif;
	border-style: solid;
	border-width: 1px;
	padding: 0.5em 0;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

.Cell {
	display: table-cell;
	border-style: none;
}

.Templates {
	border-style: none;
	display: none;
}
