* {
	border-style: solid;
	border-width: 1px;
}

body {
	font-size: 24px;
}

/*Central Layout:*/
.CentralRowWrapper {
	margin: 1px;
	display: table;
	width: 100%;
}

.CentralRow {
	overflow: auto;
	display: table-row;
}

.LeftPanel, .CenterPanel, .RightPanel {
	display: table-cell;
}

.CenterPanel {
	width: 80%;
}
.LeftPanel, .RightPanel {
	width: 10%;
}

/*Component Layout:*/
.CenterPanel > section {
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.BatteryBoxTable {
	margin-left: auto;
	margin-right: auto;
}

.Button {
	background-color: #FF9900;
	font-family: "Swiss911 UCm BT", sans-serif;
	line-height: 3em;
	min-width: 6em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}
