/*Copyright Alex Chandel 2013. All rights reserved.*/
@import "nu-theme/jquery-ui-1.10.0.custom.css";

html, body {
	margin: 0px;
	height: 100%;
}

header {
	height: 37px;
	line-height: 37px;
	margin: 0px;
	padding: 5px;

	font-family: Helvetica, Arial, sans-serif;
	font-size: xx-large;
	text-align: center;
}
header, footer {
	background-color: #520063 /*#3e0149*/;
	background-image: linear-gradient(bottom, rgb(62,1,73) 9%, rgb(83,0,99) 56%);
	background-image: -o-linear-gradient(bottom, rgb(62,1,73) 9%, rgb(83,0,99) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(62,1,73) 9%, rgb(83,0,99) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,1,73) 9%, rgb(83,0,99) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(62,1,73) 9%, rgb(83,0,99) 56%);
	color: white;
}

#nonfooter {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 2em;
}
.tabs {
	position: static !important;
	padding: 0px;
	border: 0px;
}
.tabs .ui-tabs-nav {
	background: lightslategrey;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.tabs .ui-tabs-panel {
	margin: 0em 0.2em 0.2em 0.2em;
}

article {
	font-size: 16px !important;
}
.svg_holder {
	display:block;
	float:left;
}
#bbox_svg {
	padding-bottom: 2em;
}
#plot_holder {
	padding: 0px;
	position: relative;
	width: 100%;
	height: 463px;
}
.hanger {
	position: absolute;
	bottom: 1em;
}
.datasetLabel {
}

#strategy_holder {
	padding: 0px;
	position: relative;
	width: 100%;
	height: 463px;
}

footer {
	position: fixed;
	bottom: 0px;
	height: 2em;
	width: 100%;

	text-align: right;
}
